img.d-block.recentlegbon01 {
    text-align: center;
    margin-left: 50px;
}
img.d-block.recentburger {
    text-align: center;
    margin-left: 50px;
}
p.personal-pizza {
    text-align: center;
}
p.fride-rice {
    text-align: center;
}

p.times-delivery {
    color: #777777;
    font-size: 14px;
}