.register-background.row {
    background-color: #6aa135;
}
h5.text-primary {
    color: white !important;
}
p.get-content {
    color: white;
}
button.btn.btn-primary.btn-block {
    background-color: #81C341;
    color: white;
    border: none;
    width: 100%;
}
a.text-primary {
    color: #334f18 !important;
}
i.bx.bx-home.h2 {
    color: #334f18;
}

/*******Login *********/
p.sign-content {
    color: #fff;
}
input#customControlInline {
    /* color: red; */
    background-color: #81C341;
    border: none;
}
a.text-muted.forgot-content {
    color: #334f18 !important;
}

/******Forgot-password *******/
p.sign-forgot {
    color: #fff;
}
button.btn.btn-primary.w-md.resent {
    background-color: #81C341;
    color: whiteee;
    color: white;
    border: none;
    width: 100%;
    margin-top: 20px;
}
.overflow-hidden.card {
    border: 1px solid #c3bcbc;
    box-shadow: 2px 2px #81c341;
}