
// .card.card-desk {
//     background-color: #9d9898;
// }

p.off-content {
    position: absolute;
    top: -0.125rem;
    left: 10px;
    border-radius: 0.688rem 0 0.5rem 0;
    width: 4.75rem;
    font-size: 0.938rem;
    font-weight: 400;
    height: 1.875rem;
    background-color: #c41313;
    color: white;
    padding-left: 6px;
    padding-top: 4px;
    
}

svg.second-hear-disk {
    margin-left: -6px;
    /* margin-right: 5px; */
}

img.rating-image {
    width: 100px;
}

p.fish-burger {
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
    color: #3D4152;
    margin-top: 10px;
}
span.dishes-prize {
    font-weight: 700;
    color: #81C341;
    font-size: 18px;
}

.row.ratin-data {
    margin-left: 0px;
}

.button-dishes-add {
    border-radius: 0.5rem;
    width: 6px;
    height: 34px;
    padding: 0px 44px 1px 10px;
    font-weight: 500;
    margin-top: 44px;
    font-size: 26px;
    line-height: 1.5;
    background-color: #81C341;
    color: #fff;
    margin-left: 40px;
 
}

span.plus-icon {
    position: absolute;
    top: 38px;
    right: 49px;
    /* left: 10px; */
}
.heart-icons{
    margin-left: -5px;
}
.card.card-populor-desk {
    border: 1px solid #aba5a5;
}
img.d-block.populor-img {
    width: 6.5rem !important;
    height: 4.375rem !important;
    object-fit: cover;
    margin-right: 0.688rem;
    margin-top: 0.938rem;
}
img.rating-image-bill {
    width: 14px !important;
    height: 14px !important;
}
.dishes-rationg {
    position: absolute;
    top: 64px;
}
span.populor-review {
    font-size: 11px;
}
svg.action-table {
    color: #81C341;
    font-size: 20px;
    margin-top: 10px;
}
p.populor-content {
    font-weight: 400;
    /* text-align: center; */
    font-size: 12px;
    margin-left: 20px;
    margin-top: 14px;
}