p.staff-Details-condtion {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.add-more-feild{
    padding-left: 15px !important;
    line-height: 1;
    align-items: center;
    display: flex;
    color: #f8f0f0;
    border: 1px solid #e7d8d8 !important;
    height: 2rem;
    background-color: #90938e !important;
    margin-top: 4px;
    margin-bottom: 20px;
}
button.add-more-feild {
    width: 114px;
    margin-top: 10px;
}