$borderColor:#81C341;
$headingColor:#3d4152;
@mixin commonCss($colors,$fontSizes){
    color:$colors;
    font-size:$fontSizes;
}

.card{
    border:1px solid #bdb9b6;
    // &:hover{border:1px solid $borderColor}  
}
.orderImage{
    width: 50px;
     border:1px solid $borderColor; 
}
h5,h6{ 
    @include commonCss($headingColor,16px)
}
p{
    @include commonCss( #777,12px)
}

.productPrice{
    color:$borderColor; 
    font-weight: bolder; 
}
.orderStarIcon{
    color: $borderColor;
}
.orderButton{
    border: 1px solid $borderColor;
    
    &:hover{
        background-color: $borderColor;
    }
}
.orderHeartIcon{
    color: #3d4152;
}

.col.card.card-food-order.my-2 {
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    color: #3D4152;
    border: 1px solid #3D4152;
    margin-top: 50px;
}
.col.card.card-food-order.my-2:hover {
    border: 1px solid #81C341;
}
img.rating-food-img {
    /* font-size: 16px; */
    width: 14px;
}
h6.float-end.pt-1.productPrice {
    font-size: 20px;
}
// h6.d-inline-block {
//     font-size: 18px;
//     font-weight: 600;
// }
h6.d-inline-block.totoal-order {
    font-size: 18px;
    font-weight: 600;
}
button.btn.w-100.my-3.py-2.orderButton {
    background-color: #81C341;
    color: white;
}