.rol-add {
    padding-left: 23px;
    padding-right: 26px;
    line-height: 1;
    align-items: center;
    display: flex;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    color: #f8f0f0;
    border: 1px solid #e7d8d8 !important;
    height: 2.8rem;
    background-color: #428103 !important;
    margin-top: 4px;
    font-size: 14px;
    margin-bottom: 20px;
   
}