svg.Restaurant-icons {
    font-size: 18px !important ;
    margin-right: 15px;
}
svg.Orders-icons {
    font-size: 16px !important ;
    margin-right: 15px;
}
svg.Management-icons {
    font-size: 16px !important ;
    margin-right: 15px;
}

