img.best-img01 {
    width: 56% !important;
    height: 93% !important;
    text-align: center;
    margin-left: 80px;
}

p.fish-burger-seller {
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
    color: #3D4152;
    text-align: center;

}

span.dishes-prize-seller {
    font-weight: 700;
    color: #81C341;
    font-size: 22px;
}

svg.arrow-up {
    background-color: green;
    border-radius: 10px;
    color: white;
    /* padding: 10px; */
    width: 14px;
    /* font-size: 11px; */
    height: 14px;
    margin-left: 10px;
}
