svg.jeera-arrow {
    font-size: 28px;
    color: #4c9506;
}
span.jeera-title {
    font-size: 18px;
    font-weight: 600;
    color: #545653;
    /* text-align: center; */
    margin-left: 60px;
    margin-top: 26px;
}
h5.accept-items {
    font-size: 16px;
    color: #4e930b;
    font-weight: 600;
}
h5.reactect-items {
    font-size: 16px;
    color: #4e930b;
    font-weight: 600;
}
p.shop-accept {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 600;
    margin-top: 24px;
}
.reject-contents {
    margin-top: 63px;
}
.offcanvas.offcanvas-end.show {
    width: 25%;
}
.row.body-sidebar {
    margin: 0;
}
p.shiop-name {
    font-weight: 500;
}

h5.updated-info {
    font-size: 18px;
    font-weight: 600;
    color: #5a971f;
    /* text-align: center; */
    margin-left: 60px;
    margin-top: 26px;
}



// .offcanvas-header .btn-close {
//     padding: calc(var(--bs-offcanvas-padding-y) * .5) calc(var(--bs-offcanvas-padding-x) * .5);
//     margin-top: calc(-.5 * var(--bs-offcanvas-padding-y));
//     margin-right: calc(-.5 * var(--bs-offcanvas-padding-x));
//     margin-bottom: calc(-.5 * var(--bs-offcanvas-padding-y));
//     display: none;
// }